{% include 'Inc/header.html' %}
{% if messages %}
{% for mensaje in messages %}
<div class="ui container" id="mensajes">
    <div class="ui {{ mensaje.tags }} message">
        <i class="close icon"></i>
        <div class="header">
            {{ mensaje }}
        </div>
    </div>
</div>
{%endfor%}
{% endif%}

<div class="ui container">
    <h1>Listado de instructores del centro de Formacion</h1>
    
    <table class="ui fixed single line celled table">
        <thead>
            <tr>
                <th>Nombre del instructor</th>
                <th>Area</th>
                <th>Celular</th>
                <th>Cedula</th>
                <th class="center aligned">Opciones</th>
                <form type="hidden" name="id" value="{{ instructor.0 }}">
                </form>
            </tr>
        </thead>
        <tbody>
            {% for instructor in listadoInstructores %}
            <tr>
                <td>{{ instructor.NombreCompleto }}</td>
                <td>{{ instructor.Area }}</td>
                <td>{{ instructor.Celular }}</td>
                <td>{{ instructor.Cedula }}</td>
                <td>
                    <form action="/instructores/EliminarInstructor" method="post" id="formulario{{ instructor.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ instructor.id }}">
                    </form>
                    <a href="/instructores/ActualizarInstructor/{{instructor.id}}"><i class="edit icon"></i> </a>
                    <a href="#" onclick="eliminarinstructor('{{ instructor.id }}')"><i class="trash icon"></i> </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<br>
</form>
{% if messages %}
{% for mensaje in messages %}
<div class="ui container" id="mensajes">
    <div class="ui {{warning.tags}} message">
        <i class="close icon"></i>
        <div class="header">
            {{ mensaje }}
        </div>

    </div>
    {% endfor %}
    {% endif %}
    <div class="ui container">
    </div>


    <script>
        function eliminarinstructor(id) {
            Swal.fire({
                title: "¿esta seguro de eliminar este registro?",
                text: "No podra recuperar este registro",
                icon: "advertencia",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si, eliminar"
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#formulario" + id).submit()
                }
            });
        }
    </script>
    {% include 'Inc/footer.html' %}

        <script>
    $(document).ready(function () {
        $('.message .close').on('click', function () {
            $(this).closest('.message').transition('fade');
        });
    });
</script>